<html lang="en">
<head>
  {% block title %}<title>Job Detail</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="container-fluid">
	<div class="column">
	{% block content %}
		<div style="text-align:center;margin-left:auto;margin-right:auto;display:table;">
			<h1>Job: {{ job.name }}</h1>
			<p><strong>Description:</strong> {{ job.description }}</p> 
			<p><strong>Remote %:</strong> {{ job.remote_pct }}</p>
			<p><strong>Company:</strong> {{ job.company }}</p>  
			<p><strong>Client:</strong> {{ job.client }}</p>
			<p><strong>Start Date:</strong> {{ job.start_date }}</p>
			<p><strong>End Date:</strong> {{ job.end_date }}</p>
			<p><strong>Skills:</strong> {{ job.get_skill }}</p>
			<p><strong>Projects:</strong> {{ job.get_project }}</p>
			<p><strong>Contributions:</strong></p> 
			{% for con in job.get_conlist %}
				<p>{{ con }}</p>
			{% endfor %}
			<div align="center">
				<form action="{% url 'job_list' %}" method="get">
					<button style="text-align:center;margin-top:25px;" type = “submit”>Back to Jobs</button>
				</form>
				<form action="{% url 'index' %}" method="get">
					<button style="text-align:center;margin-top:25px" type = “submit”>Return to Main Menu</button>
				</form>
			</div>
		</div>
	{% endblock %}
	</div>
</div>
</body>
</html>
